doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet' href='./CSSfile.css' type='text/css')
  body
    // pknu image
    section
      img#image(src='pknu.png')
    // breadcrumb
    section
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item.text-primary 로그인
          li.breadcrumb-item.text-primary ①학과 학생회 선거
          li.breadcrumb-item.text-primary ②단과대학 학생회 선거
          li.breadcrumb-item.text-primary ③총학생회 선거
    // progressbar
    section
      .progress
        .progress-bar.bg-primary.w-25(role='progressbar' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100') 25%
    // 투표시작(card)
    section
      br
      br
      br
      .row
        .col
          //depart 값에 따라 단과대 투표페이지 연결
          form(action=depart method='post' id='voteForm')
            button.btn.btn-outline-primary.btn-block.mr-2(type='button' style='height: 100px;' id='voteBtn')
              h3 투표하기
            #cantvote.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    h4.modal-title 투표하실 수 없습니다.
                    //overlap 값으로 중복투표 유무확인
                    button.close(type='button' data-dismiss='modal')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                  .modal-body
                    | 이미 투표 완료처리 된 학번입니다. 재투표 하실 수 없습니다.
                  .modal-footer
                    button.btn.btn-primary(type='button' data-dismiss='modal') 닫기
        .col
          // result.jade로 넘어감 / 아직 result 페이지는 안 만들었음
          //timecheck 값으로 투표기간 내 여부 확인
          form(action='./result' method='post' id='resultForm')
            button.btn.btn-outline-info.btn-block.mr-2(type='button' style='height: 100px;' id='resultBtn')
              h3 투표 결과확인
            #result.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    h4.modal-title 투표가 완료되지 않았습니다.
                    button.close(type='button' data-dismiss='modal')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                  .modal-body
                    | 아직 투표기간이 종료되지 않았습니다.
                    br
                    | 투표결과 확인은 #{time} 이후 확인 가능합니다.
                  .modal-footer
                    button.btn.btn-info(type='button' data-dismiss='modal') 닫기
          br
          h5 투표결과 확인은 #{time} 이후 확인 가능합니다.
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    script.
      $(document).ready(function() {
      $("#voteBtn").click(function() {
      console.log("#{overlap}")
      if ("#{overlap}" == "true") {
      $("#cantvote").modal();
      } else if ("#{overlap}" == "false") {
      document.getElementById('voteForm').submit();
      }
      })
      })
    script.
      $(document).ready(function(){
      $("#resultBtn").click(function(){
      date = new Date()
      year = date.getFullYear()
      month = date.getMonth() + 1
      day = date.getDate()
      hour = date.getHours()
      curr = `${year}년 ${month}월 ${day}일 ${hour}시`
      if (curr > "#{time}") {
      $("#result").modal();
      } else {
      document.getElementById('resultForm').submit();
      }
      });
      });